<h1>Welcome to GameView!</h1>
<p><em>Catalog the video games you own, review them, and more!</em></p>
<br></br>


  <div class="col-md-8">
    <img src="reflection-pad-gaming-gamepad.jpg" width="400" height="80" class="img-responsive">
  </div>

  <div class="user col-md-4">
    <div class="user-container">

      <ul class="login-switcher">

        <li><a href="#">Log In</a></li>
        <li><a href="#">Create A New Account</a></li>

      </ul>

      <div id="login">

        <%= render :partial => 'devise/sessions/login' %>

        <p class="form-bottom-message"><a href="#">Forget your password?</a></p>
      </div>

      <div id="signup">

        <%= render :partial => 'devise/registrations/new' %>

      </div>

    </div>

    <a href="#" class="close-form">Close</a>
  </div>
